/* Write your code here. */
.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.heading {
  color: #0f172a;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}
.small {
  background-color: #cffafe;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  color: #0f172a;
  font-size: 25px;
}
.profile {
  height: 10vh;
  margin-top: 30px;
}
.institute {
  color: black;
  text-align: center;
}
.watchname {
  height: 10vh;
}
